.mat-toolbar {
  display: flex;
  background-color: white;
  color: #006cb2;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(187, 187, 187, 0.55);
  border-left: 0;
  border-top: 0;
  border-right: 0;
  border-radius: 0;
  -webkit-box-shadow: 2px 2px 10px rgb(186, 186, 186);
}

.border{
  border-width: 1px;
  border-style: solid;
  border-color: rgba(187, 187, 187, 0.55);
  border-left: 0;
  border-top: 0;
  border-right: 0;
  border-radius: 0;
}

.navbar-button {
  display: inline-block;
}

.navbar-title {
  color: #004C8C;
  font-family: Roboto, sans-serif;
  font-weight: bold;
  font-size: 21px;
}

.login-button {
  height: 32px;
  background-color: rgba(0, 102, 153, 1);
  border-radius: 15px;
  font-family: Roboto, monospace;
  font-weight: 300;
  font-size: 14px;
  color: #FFFFFF;
  cursor: pointer;
  text-align: center;
  width: 120px;
}

.logout-button {
  height: 32px;
  background-color: rgba(0, 102, 153, 1);
  border-radius: 15px;
  font-family: Roboto, monospace;
  font-weight: 300;
  font-size: 14px;
  color: #FFFFFF;
  cursor: pointer;
  text-align: center;
  width: 70px;
}

.example-spacer {
  flex: 1 1 auto;
}

.navbar-button-block {
  display: inline-block;
}


@media screen and (max-width: 630px) {
  .username-container{
    display: none;
  }
  .navbar-title {
    color: #003b77;
    font-size: 16px;
  }

  .login-button {
    font-size: 12px;
    width: 100px;
  }

  .navbar-button-block {
    margin-left: 20px;
  }
  .user-icon{
    display: block !important;
  }
}

@media screen and (min-width: 631px) and(max-width: 768px) {

  .navbar-title {
    font-size: 21px;
  }

  .navbar-button-block {
    margin-left: 10px;
  }
}

@media screen and (min-width: 769px ) and (max-width: 960px) {

  .login-button {
    width: 120px;
  }

  .navbar-button-block {
    margin-left: 60px;
  }

}

@media screen and (min-width: 960px) {
  .navbar-button-block {
    margin-left: 60px;
  }
}
.username-container{
  margin-right: 5px;
  margin-left: 8px;
  padding-left: 5px;
  padding-right: 5px;
  font-family: Roboto;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  border-left: 1px solid #CCCCCC;
  border-right: 1px solid #CCCCCC;
  color: black;
}

.user-icon{
  display: none;
  margin-right: 10px;
  margin-left: 10px;
}


