<span class="example-fill-remaining-space"></span>
<div class="topnav">

  <a class="active , a" href="/home">
    <button mat-button>
      <mat-icon color="white">home</mat-icon>
      <b>Home</b>
    </button>
  </a>
  <a class="a" href="/newidea">
    <button mat-button>
      <mat-icon color="white">assignment</mat-icon>
      <b> Add idea</b>
    </button>
  </a>


  <div class="login-bar">

    <form [formGroup]="form"
          (ngSubmit)="onSubmit()"
          *ngIf="!isLoggedIn()">
      <input type="text"
             class="form-spacing"
             name="email"
             formControlName="email"
             maxlength="{{maxInputLength}}"
             placeholder="Email">

      <!--<mat-error *ngIf="isFieldInvalid('email')">-->
      <!--<b class="emailmessage"> Please enter your email</b>-->
      <!--</mat-error>-->

      <input type="password"
             class="form-spacing"
             formControlName="password"
             name="password" maxlength="{{maxInputLength}}"
             placeholder="Password">

      <!--<mat-error *ngIf="isFieldInvalid('password')">-->
      <!--<b class="passwordmessage"> Please enter your password</b>-->
      <!--</mat-error>-->

      <button class="the-button , form-spacing"
              mat-button (click)="onSubmit()">Login
      </button>

      <button mat-button
              class="the-button , form-spacing"
              routerLink="/newuser"
              *ngIf="!isLoggedIn()">
        <mat-icon>how_to_reg</mat-icon>
        <b>Sign up</b>
      </button>

    </form>
  </div>
</div>
