<mat-toolbar color="green">

  <span class="example-fill-remaining-space"></span>
  <div>
    <a class="a" href="/home">
      <button mat-button>
        <mat-icon color="white">home</mat-icon>
        <b> Home</b>
      </button>
    </a>
    <a class="a" href="/newidea">
      <button mat-button>
        <mat-icon color="white">assignment</mat-icon>
        <b> Add idea</b>
      </button>
    </a>
    <form [formGroup]="form" >
        <input type="text" name="email" formControlName="email" placeholder="Email" maxlength="77">
        <mat-error *ngIf="isFieldInvalid('email')">
          <b class="emailmessage"> Please enter your email</b>
        </mat-error>
        <input class="password" type="password" formControlName="password" name="password" placeholder="Password" maxlength="77">
        <mat-error *ngIf="isFieldInvalid('password')">
          <b class="passwordmessage"> Please enter your password</b>
        </mat-error>
      <button class="loginbutton" mat-button (click)="onSubmit()">Login</button>
    </form>
    <a href="home">
      <button mat-button class="button">
        <mat-icon>how_to_reg</mat-icon>
        <b>Sign up</b>
      </button>
    </a>
  </div>
</mat-toolbar>



