<app-ideas-table></app-ideas-table>

<form class="form" [formGroup]="userForm">
  <mat-card class="card">
    <h2 style="text-align: center">Please fill the user registration form</h2>
    <mat-card-content style="height: auto">

      <!--Full name-->
      <mat-form-field class="input-form">
        <input matInput
               type="text"
               formControlName="fullName"
               maxlength="77"
               placeholder="Full name"
               required>
        <mat-error *ngIf="formControl.hasError('required')">
          Full name is a<strong>required field</strong>
        </mat-error>
        <mat-hint align="start"><strong>Enter your full name</strong></mat-hint>
        <mat-hint align="end"> / {{maxInputLength77}}</mat-hint>
      </mat-form-field>

      <!--Email-->
      <mat-form-field class="input-form">
        <input matInput
               placeholder="Email"
               [formControl]="formControl"
               [errorStateMatcher]="matcher"
               required>
        <mat-hint>Enter your Email address</mat-hint>
        <mat-error
          *ngIf="formControl.hasError('email') && !formControl.hasError('required')">
          Please enter a valid Email address
        </mat-error>
        <mat-error *ngIf="formControl.hasError('required')">
          Full name is  a required field
        </mat-error>
        <mat-hint align="end"> / {{maxInputLength77}}</mat-hint>
      </mat-form-field>

      <!--Password field-->
      <mat-form-field class="input-form">
        <input matInput
               placeholder="Enter your password"
               formControlName="password"
               [type]="hide ? 'password' : 'text'"
               required>
        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </mat-form-field>

      <!--Confirm password field-->
      <mat-form-field class="input-form">
        <input matInput
               placeholder="Confirm your password"
               formControlName="confirmPassword"
               [type]="hide ? 'password' : 'text'"
               required>
        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </mat-form-field>
    </mat-card-content>
  </mat-card>
</form>


<div class="flex-container">
  <div class="submit-button-block button-container">
    <div class="submit-button">
      <button mat-raised-button
              color="primary">Register
      </button>
    </div>
  </div>
</div>
