
.t {
  margin-left: 30%;
  margin-bottom: 10%;
}

.top-level-container {
  margin-left: 20%;
  margin-right: 20%;
}

h1, h2, h3, h4, h5 {
  font-family: "Raleway", sans-serif;
}

.w3-content {

  max-width: 1400px
}


.header-container {
  max-width: 1400px;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }

  45% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.fourth-text {
  font-size: 1rem;
  position: absolute;
  text-align: center;
  top: 9%;
  left: 25%;
  opacity: 0;
  color: black;
  animation-name: fadeInOut;
  animation-delay: 0s;
  animation-duration: 3s;
  margin: auto;
  width: 50%;
  border: 2px solid black;
  border-radius: 5px;
  padding: 10px;
}

form {
  border: 3px solid #f1f1f1;
}

/* Full-width inputs */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

.footer {
  background-color: #242623 !important;
}

.center {

  font-family: Raleway;
  text-align: center;
  font-size: 14pt;
  color: #333333;
}

.the-button {

  background-color: rgba(0, 102, 153, 1);
  position: center;
  height: 70px;
  width: 300px;
  font-family: Roboto;
  font-size: 17pt;
  border-radius: 40px;
}

.the-button:hover {

  color: black;
}

.img {
  margin-right: 10%;
  float: left;
  width: 200px;
  height: 200px;
  color: #333333;
  box-shadow: #cccccc;
}

.class2 {

  position: absolute;
  left: 2px;
  top: 115px;
  height: 125px;
  font-family: 'Raleway Medium', 'Raleway Regular', 'Raleway';
  font-weight: 500;
  font-style: normal;
  font-size: 21px;
  text-align: center;
  border-width: 0px;
  width: 1352px;
  word-wrap: break-word

}

.background {

  background-color: rgba(96,112,255,0.3);
  border-bottom-style: groove;
}

.line {

  border-color: grey;
  border-style: double;
  margin-bottom: 70px;
  margin-right: 80px;
  margin-left: 80px;

}

.smallbutton {

  margin-bottom: 10%;
  width: 200px;
  height: 50px
}
