<div class="header">

  <div class="center">
    <br>
    <p>
      We started the "Good Works Summer" project last year,
      <br>with over 1,400 colleagues supporting this project every year.
      <br>We can change environment and society a lot, so we invite you to participate!
    </p>

    <button class="button button-big" routerLink="/newidea"><b>Add your idea</b>
    </button>

  </div>
</div>

<div class="top-level-container margin">
  <div class="section-container responsive line">
    <div class="icon-container">
      <span class="title">Team</span>
      <img class="img img-margin res" src="./assets/team.png">
    </div>
    <div class="text-container">
      <div>
        <h3><b class="textcenter heading">Who can participate?</b></h3>
      </div>
      <div>
        <p class="left paragraph"> All employees of Bank can participate in the project “Good Work Summer”.</p>
      </div>
      <div>
        <h3><b class="textcenter heading">How to participate?</b></h3>
      </div>
      <div>
        <p class="left paragraph">Swing to teams. Participants are invited to do a good job together, sailing into teams. The
          captain has
          to
          register the team - no other members have to register separately. We will approve your participation in
          the
          project by email.</p>
        <div>
        </div>
      </div>
    </div>
  </div>


  <div class="section-container responsive line">
    <div class="icon-container">
      <span class="title">Job</span>
      <img class="img img-margin res" src="./assets/job.png">
    </div>
    <div class="text-container">
      <div>
        <h4><b class="textcenter heading">What support is available?</b></h4>
      </div>
      <p class="left paragraph"> Each employee receives an amount of EUR 15, which can be used to
        perform
        a good
        job (eg purchase the necessary tools, etc.).</p>
      <div>
        <h3><b class="textcenter heading">How to choose a good job?</b></h3>
      </div>
      <div>
        <p class="left paragraph">You can choose activities that seem meaningful and important to you. Let us carefully consider
          who
          needs
          our
          time, strength, advice, help, understanding. Let's go to the nearest communities, our native cities, let's
          talk to
          nearby organizations, neighborhoods, hard-working families. Maybe they need help?</p>
      </div>
    </div>
  </div>



  <div class="section-container responsive">
    <div class="icon-container">
      <span class="title">Time</span>
      <img class="img img-margin res" src="./assets/time.png">
    </div>
    <div class="text-container">
      <div>
        <h4><b class="textcenter heading">When to volunteer?</b></h4>
      </div>
      <p class="left paragraph">
        In 2019, you can register for the project and do a good job in May-October.
        Each employee has one free and paid working day for good work.</p>

      <div>
        <h4><b class="textcenter heading">What's next?</b></h4>
      </div>
      <p class="left paragraph">After a good job, the team captain is invited to share the impressions and photos
        on
        the blog
        of this site</p>
      <p class="left paragraph">Our communality and good will is what can lead to change. Let's do a good job together!</p>
    </div>
  </div>

  <div class="smallbutton-container">
    <button class="button button-small" routerLink="/newidea"><b>Add your idea</b>
    </button>
  </div>
</div>
<div class="footer">
</div>
