<br>
<br>
<table class="blueTable">
  <thead>
  <tr>
    <th>Name of idea</th>
    <th>Organization</th>
    <th>Location</th>
  </tr>
  </thead>
  <tfoot>
  <tr>
    <td colspan="3">
      <div class="links"><a href="#">&laquo;</a> <a class="active" href="#">1</a> <a href="#">2</a> <a href="#">3</a> <a
        href="#">4</a> <a href="#">&raquo;</a></div>
    </td>
  </tr>
  </tfoot>
  <tbody>
  <tr *ngFor="let idea of ideas">
    <td>{{idea.name}}</td>
    <td>{{idea.organization}}</td>
    <td>{{idea.location}}</td>
  </tr>
  </tbody>
</table>

