<div class="form-container"
     fxFlex fxLayout="column"
     fxLayout.gt-sm="row">

  <div class="sign-in-form">
    <form class="form"
          [formGroup]="signInForm">
      <mat-card class="card">
        <h2 class="centered">Sign up</h2>
        <mat-card-content class="card-content">

          <!--Full name-->
          <mat-form-field class="input-form">
            <input matInput
                   type="text"
                   formControlName="fullName"
                   maxlength="{{userFormOptions.fullNameFormMaxSymbols}}"
                   placeholder="Full name"
                   required>
            <mat-hint align="start">Enter your full name</mat-hint>

            <mat-error *ngIf="signInForm.get('fullName').hasError('required')">
              Full name is a required field
            </mat-error>
            <mat-hint align="end"> {{signInForm.get('fullName').value.length}}
              / {{userFormOptions.fullNameFormMaxSymbols}}</mat-hint>
          </mat-form-field>

          <!--Email-->
          <mat-form-field class="input-form">
            <input matInput
                   type="text"
                   formControlName="email"
                   maxlength="{{userFormOptions.emailFormMaxSymbols}}"
                   placeholder="Email"
                   required>
            <mat-hint>Enter your Email address</mat-hint>
            <mat-hint align="end"> {{signInForm.get('email').value.length}}
              / {{userFormOptions.emailFormMaxSymbols}}</mat-hint>

            <mat-error *ngIf="signInForm.get('email').hasError('required')">
              Email is a required field
            </mat-error>
            <mat-error *ngIf="signInForm.get('email').hasError('email')">
              Email is invalid
            </mat-error>
          </mat-form-field>

          <!--Password field-->
          <mat-form-field class="input-form">
            <input matInput
                   type="text"
                   formControlName="password"
                   maxlength="{{userFormOptions.passwordFormMaxSymbols}}"
                   placeholder="Enter your password"
                   [type]="hide ? 'password' : 'text'"
                   required>
            <mat-hint>Must be 8 symbols or longer with an uppercase, lowercase symbols and a number</mat-hint>
            <mat-hint align="end"> max: {{userFormOptions.passwordFormMaxSymbols}}</mat-hint>

            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>

            <mat-error *ngIf="signInForm.get('password').hasError('required')">
              Password is a required field
            </mat-error>
            <mat-error *ngIf="signInForm.get('password').hasError('pattern')">
              Password must longer that 8 symbols, contain one lowercase letter, one uppercase letter and a number
            </mat-error>

          </mat-form-field>

          <!--Confirm password field-->
          <mat-form-field class="input-form">
            <input matInput
                   type="text"
                   formControlName="confirmPassword"
                   maxlength="{{userFormOptions.passwordFormMaxSymbols}}"
                   placeholder="Confirm your password"
                   [type]="hide ? 'password' : 'text'"
                   required>
            <mat-hint> Confirm password</mat-hint>
            <mat-hint align="end"> max: {{userFormOptions.passwordFormMaxSymbols}}</mat-hint>
            <mat-error *ngIf="signInForm.get('confirmPassword').hasError('required')">
              Confirm password is a required field
            </mat-error>

          </mat-form-field>

          <mat-error
            *ngIf="signInForm.getError('notMatching') &&
            (signInForm.get('password').dirty && signInForm.get('password').touched) &&
            (signInForm.get('confirmPassword').dirty && signInForm.get('confirmPassword').touched)">
            Passwords do not match
          </mat-error>

          <div class="flex-container">
            <div class="submit-button-block button-container">
              <div class="submit-button">
                <button mat-raised-button
                        color="primary"
                        (click)="onSignUpSubmit()"
                        class="the-button">
                  <b>Register</b>
                </button>
              </div>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </form>
  </div>

  <div style=" flex: 1; margin: 10px; align-self: stretch; order: 1; ">


    <form class="form" [formGroup]="logInForm">
      <mat-card class="card">
        <h2 class="centered">Log in</h2>
        <mat-card-content class="card-content">

          <!--Email-->
          <mat-form-field class="input-form">
            <input matInput
                   type="text"
                   formControlName="email"
                   placeholder="Email"
                   required>
            <mat-hint>Enter your Email address</mat-hint>
            <mat-error *ngIf="signInForm.get('email').hasError('required')">
              Email is a required field
            </mat-error>
          </mat-form-field>

          <!--Password field-->
          <mat-form-field class="input-form">
            <input matInput
                   type="text"
                   formControlName="password"
                   placeholder="Enter your password"
                   [type]="hide ? 'password' : 'text'"
                   required>
            <mat-hint>Please enter password</mat-hint>
            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            <mat-error *ngIf="signInForm.get('password').hasError('required')">
              Password is a required field
            </mat-error>
          </mat-form-field>

          <div class="flex-container">
            <div class="submit-button-block button-container">
              <div class="submit-button">
                <button mat-raised-button
                        color="primary"
                        (click)="onLogInSubmit()"
                        class="the-button">
                  <b>Log in</b>
                </button>
              </div>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </form>
  </div>

</div>




