.main-form {
  min-width: 300px;
  max-width: 600px;
  width: 100%;
  height: 130px;
  margin: 0 auto;
}


.input-form {
  margin: 0 auto;
}

.full-width {
  width: 100%;
}

.button-section-first-line {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}

.button-section-second-line {
  display: flex;
  align-content: center;
  align-items: center;
}

.button-margin-1 {
  margin:  auto;
}

.button-margin-2 {
  margin: 10px -10px 10px 50px;
}

.card {
  min-width: 300px;
  max-width: 600px;
  height: auto;
  margin: auto;
  top: 100px;
}

.submit-button {
  position: relative;
  left: 86.8%;
}
.submit-button-block {
  max-width: 650px;
  height: 85px;
  margin: 0 auto;
}
