@import '~@angular/material/theming';

@include mat-core();

$custom-theme-primary: mat-palette($mat-green);
$custom-theme-accent: mat-palette($mat-deep-orange);
$custom-theme-warn: mat-palette($mat-green);

$custom-theme: mat-light-theme($custom-theme-primary, $custom-theme-accent, $custom-theme-warn);

@include  angular-material-theme($custom-theme);

