<<<<<<< HEAD
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
=======
/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/purple-green.css";
>>>>>>> feature-toolbar

body, html {
  background-color: white;
  background-size: cover;
  margin: 0;
}
