p {
  margin-left: 15%;
  margin-right: 15%;
}

li {
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 15px;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

.home {
  font-family: Helvetica, serif;
}
