<form class="form" [formGroup]="ideaForm">
  <mat-card class="card">
    <h2 class="centered">Please fill the idea form</h2>
    <mat-card-content class="centered">

      <!--Name-->
      <mat-form-field class="input-form">
        <input matInput
               formControlName="name"
               type="text"
               maxlength="{{ideaFormOptions.nameFormMaxSymbols}}"
               placeholder="Name of idea"
               required>
        <mat-hint align="start">Enter the name of your idea</mat-hint>
        <mat-hint align="end"> {{ideaForm.controls['name'].value.length}} / {{ideaFormOptions.nameFormMaxSymbols}} </mat-hint>
      </mat-form-field>

      <!--Location-->
      <mat-form-field class="input-form">
        <mat-select formControlName="location" placeholder="Location" required>
          <mat-option value="{{location}}" *ngFor="let location of locations">
            {{location}}
          </mat-option>
        </mat-select>
        <mat-hint align="start">
          <strong>Choose location</strong></mat-hint>
      </mat-form-field>

      <!--Organization-->
      <mat-form-field class="input-form">
        <input matInput
               formControlName="organization"
               type="text"
               maxlength="{{ideaFormOptions.organisationFormMaxSymbols}}"
               placeholder="Organization or person"
               required>
        <mat-hint align="start">Enter the organization name where you are going to do good job
        </mat-hint>
        <mat-hint align="end"> {{ideaForm.controls['organization'].value.length}} / {{ideaFormOptions.organisationFormMaxSymbols}}</mat-hint>
      </mat-form-field>

      <!--Website-->
      <mat-form-field class="input-form">
        <input matInput
               formControlName="website"
               type="text"
               maxlength="77"
               placeholder="Web site">
        <mat-hint align="start">Enter the website of the organization where you are going to do the good
          deed
        </mat-hint>
        <mat-hint align="end"> {{ideaForm.controls['website'].value.length}} / {{ideaFormOptions.websiteFormMaxSymbols}}</mat-hint>
      </mat-form-field>

      <!--Optimal participators amount-->
      <mat-form-field class="input-form">
        <mat-label>Number of participants</mat-label>
        <input matInput
               formControlName="optimalParticipantsAmount"
               type="text"
               maxlength="{{ideaFormOptions.optimalParticipantsAmount}}"
               placeholder="Unimportant">
        <mat-hint align="end">
          {{ideaForm.controls['optimalParticipantsAmount'].value.length}} / {{ideaFormOptions.optimalParticipantsAmount}}</mat-hint>
      </mat-form-field>

      <!--Checkboxes-->
      <mat-card-content class="checkbox-form-part">
        <h2 class="checkbox-section-header">Categorize your idea</h2>
        <section class="checkbox-section" *ngFor="let category of categories.controls; let i=index">
          <mat-checkbox class="checkbox" [formControl]="category">{{ideaCategory[i].name}}</mat-checkbox>
        </section>
      </mat-card-content>

      <!--Idea description-->
      <mat-form-field class="input-form">
          <textarea matInput
                    formControlName="description"
                    type="text"
                    maxlength="{{ideaFormOptions.ideaFormMaxSymbols}}"
                    placeholder="Idea for a good job"
                    required></textarea>
        <mat-hint align="end"> {{ideaForm.controls['description'].value.length}} / {{ideaFormOptions.ideaFormMaxSymbols}}</mat-hint>
        <mat-hint align="start">Enter your idea
        </mat-hint>
      </mat-form-field>

      <!--Contact person-->
      <mat-form-field class="input-form">
          <textarea matInput
                    formControlName="contactPerson"
                    type="text"
                    maxlength="150"
                    placeholder="Contact person"
                    required></textarea>
        <mat-hint align="end"> {{ideaForm.controls['contactPerson'].value.length}} / {{ideaFormOptions.contactFormMaxSymbols}}</mat-hint>
        <mat-hint align="start">Enter contact's info
        </mat-hint>
      </mat-form-field>

      <div class="flex-container">
        <div class="submit-button-block button-container">
          <div class="button">
            <button mat-button
                    (click)="onSubmitButtonPress()">
              <b>Submit</b>
            </button>
          </div>
        </div>
      </div>


    </mat-card-content>
  </mat-card>
</form>


